.menu-header {
  height: 70px;
  margin-right: 8px;
}

.menu-header-icon {
  width: 100%;
  height: 100%;
}

.menu-list {
  /* Additional styles if needed */
}

.menu-item {
  height: 60px;
  width: 100%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0.5rem !important;
}

.menu-item:nth-child(3) {
  height: 70px;
}

.menu-item-icon {
  width: 100%;
  height: 100%;
}
