aside {
    background-color: inherit;
}
  
aside .rounded-circle {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;                                                                                                                                
    background-color: #ffffff;
    color: #198754; 
    font-size: 1.2rem;
}