.container {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  font-family: sans-serif;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.avatar-upload {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ccc;
}

.upload-btn {
  padding: 8px 20px;
  font-size: 14px;
  background-color: #12bd6d;
  color: white;
  border: none;
  border-radius: 6px;
  transition: background 0.3s;
}

.upload-btn:hover {
  background-color: #0fa35e;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 6px;
  
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="date"],
.form-group input[type=""] {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  padding: 4px 8px; 
  border-radius: 6px; 
  background-color: #f9fafb; 
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #12bd6d;
  outline: none;
}

.gender-options {
  display: flex;
  gap: 25px;
  margin-top: 10px;
}

.gender-options label {
  display: flex;
  align-items: center;
  gap: 6px;
}
